body {
  font-family: 'Copse', sans-serif;
  background-color: #74119c;
  color: #fff;
}

#jeopardy {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

#jeopardy th, #jeopardy td {
  border: 1px solid #115ff4;
  padding: 10px;
  text-align: center;
  color: #060ce9;
  background-color: #8d2ab5;
}

#jeopardy th {
  background-color: #28a200;
}

#start-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #115ff4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #060ce9;
}

#spinner {
  display: block;
  margin: 20px auto;
  color: #28a200;
}